body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.orange{
    color: deepskyblue;
}
section{
    display: flex;
    margin-bottom: 250px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(deepskyblue,navy);
    padding: 10px 40px; 
    border-radius: 5px; color: white;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experiences{
    margin-top: 100px;
    margin-bottom: 0;
    padding-left: 25px;
    
}
.box-shadow{
    box-shadow: 15px 15px 15px gray;
    width: 40%;
    margin-left: 50px;
    border-radius: 10px;
    

}
#left-box{
    border-left: 7px solid;
    border-image: linear-gradient(red, salmon);
    border-image-slice: 1;
}
#right-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.box{
    font-size: 40px;
    
}
.background-image{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}